<div class="modal-header">
    <div class="col-md-10">
        <h4 class="modal-title"><i class="fa fa-calendar"></i> Zeitraum auswählen</h4>
    </div>
    <div class="col-md-2 right">
        <a class="close" href data-ng-click="$dismiss()"><span class="fa fa-times"></span></a>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            Dieses Jahr
            Diesen Monat
        </div>
        <div class="col-md-6">
            Letztes Jahr
            Letzten Monat
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="fromDate" is-open="fromDatePicker.opened" datepicker-options="fromDateOptions" ng-required="true" close-text="Schließen" datepicker-options="fromDateOptions" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePicker('fromDatePicker')"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
        </div>
        
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="toDate" is-open="toDatePicker.opened" datepicker-options="toDateOptions" ng-required="true" close-text="Schließen" datepicker-options="toDateOptions" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePicker('toDatePicker')"><i class="fa fa-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="modal-footer center clearfix">
    <button data-ng-click="$dismiss()" type="button" class="btn btn-secondary pull-left">abbrechen</button>
    <button data-ng-click="selectDates()" type="button" class="btn btn-success pull-right">Auswählen</button>
</div>