<div class="row">
    <div class="col-mg-12">
        <h1>Servereinstellungen</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <form>
                <div class="form-group row" ng-repeat="(settingName, settingData) in settings"> <!--  | filter: hidden == 'false' -->
                    <label for="{{settingName}}" class="col-sm-5 form-control-label">{{settingData.description}}</label>
                    <div class="col-sm-7">
                        <input type="input" class="form-control" id="{{settingName}}" maxLength="100" ng-model="settingData.value" ng-if="settingData.type.toLowerCase() == 'number' || settingData.type.toLowerCase() == 'string' || settingData.type.toLowerCase() == 'date' || settingData.type.toLowerCase() == 'datetime'" ng-disabled="settingData.readonly">
                        <select class="form-control" id="{{settingName}}" ng-model="settingData.value" ng-if="settingData.type.toLowerCase() == 'bit'" ng-disabled="settingData.readonly">
                            <option value="1">Ja</option>
                            <option value="0">Nein</option>
                            <option value="null">null *</option>
                        </select>
                        <select class="form-control" id="{{settingName}}" ng-model="settingData.value" ng-if="settingData.type.toLowerCase() == 'boolean'" ng-disabled="settingData.readonly">
                            <option value="true">Ja</option>
                            <option value="false">Nein</option>
                            <option value="null">null *</option>
                        </select>
                        <select class="form-control" id="{{settingName}}" ng-model="settingData.value" ng-if="settingData.type.toLowerCase() == 'enum' && settingData.enumOptions != null" ng-disabled="settingData.readonly">
                            <option ng-repeat="(value, name) in settingData.enumOptions" value="{{value}}">{{name}}</option>
                        </select>
                        <!-- todo -->
                        <!-- foreign keys -->
                    </div>
                </div>
                
                <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Einstellungen speichern</button>
            </form>
            
            <div class="alert alert-{{message.type}} m-t" role="alert" ng-show="message">
                <h3>{{message.headline}}</h3>
                <p>{{message.text}}</p>
                <p>{{message.errorMessage}}</p>
            </div>
        </div>
    </div>
</div>