.com-Nephthys-teamOverview {
    h2 {
        font-size: 2.5rem;
        font-family: $font-family-handwriting;
        color: $highlight-font-color;
    }
    
    .card {
        border: none;
        
        .card-block {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}