.com-IcedReaper-privateMessage {
    .card-footer {
        background-color: none;
    }
    
    .myMessage {
        [class^="card-"] {
            background-color: rgba($highlight-color, 0.2);
            color: $body-color;
        }
        
        &.deleted {
            opacity: 0.4;
        }
    }
    
    .response {
        &.unread {
            [class^="card-"] {
                background-color: rgba($body-color, 0.95);
                color: $highlight-color;
            }
        }
        
        &.read {
            [class^="card-"] {
                background-color: rgba($body-color, 0.2);
                color: $highlight-color;
            }
        }
    }
}