<div class="row m-b-2">
    <div class="col-md-10 col-sm-8">
        <a href="#/" class="btn btn-secondary"><i class="fa fa-list"></i> Userliste</a>
        <a href="#/blacklist/list" class="btn btn-secondary"><i class="fa fa-list"></i> Liste der geblockten Namensteile</a>
        <a href="#/status/list" class="btn btn-secondary"><i class="fa fa-list"></i> Statusübersicht</a>
        <a href="#/status/flow" class="btn btn-secondary"><i class="fa fa-code-fork"></i> Statusflow</a>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="pull-right">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Geblockter Namensteil <small>{{blacklist.namepart}}</small></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h3>Details</h3>
            <div class="form-group row">
                <label for="namepart" class="col-sm-3 form-control-label">Namensteil</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="namepart" placeholder="Namensteil" ng-model="blacklist.namepart">
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <button class="btn btn-danger" ng-click="delete()"><i class="fa fa-trash-o"></i> Eintrag löschen</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="alert alert-{{message.type}} m-t-1" role="alert" ng-show="message">
            <h3>{{message.headline}}</h3>
            <p>{{message.text}}</p>
            <p>{{message.errorMessage}}</p>
        </div>
    </div>
</div>