<div class="row m-b-2">
    <div class="col-md-10 col-sm-8">
        <a href="#/user/list" class="btn btn-secondary"><i class="fa fa-list"></i> Userliste</a>
        <a href="#/blacklist/list" class="btn btn-secondary"><i class="fa fa-list"></i> Liste der geblockten Namensteile</a>
        <a href="#/status/list" class="btn btn-secondary"><i class="fa fa-list"></i> Statusübersicht</a>
        <a href="#/status/flow" class="btn btn-secondary"><i class="fa fa-code-fork"></i> Statusflow</a>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="pull-right">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Aufgabenliste</h1>
    </div>
</div>
<nephthys-usermanager-tasklist table-class="table-inverse"></nephthys-usermanager-tasklist>