<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/0" class="btn btn-primary"><i class="fa fa-user-plus"></i> Neuen Benutzer anlegen</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Userübersicht</h1>
    </div>
</div>

<h3>Filtern</h3>
<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="filterActiveStatus" class="col-sm-3 control-label">Aktiv</label>
                <div class="col-sm-6">
                    <select class="form-control" name="filterActiveStatus" ng-model="search.active"
                            ng-options="o.v as o.n for o in [{ n: 'Alle', v: ''}, { n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-inverse m-t-1">
    <thead>
        <th>ID</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Aktionen</th>
    </thead>
    <tbody>
        <tr ng-repeat="user in users | filter:search">
            <td>{{user.userId}}</td>
            <td>
                <a href="#/{{user.userId}}">{{user.username}}</a>
            </td>
            <td>{{user.email}}</td>
            <td>
                <a href="#/{{user.userId}}"
                   class="btn btn-primary"
                   title="Benutzerdetails">
                    <i class="fa fa-cog"></i>
                </a>
                
                <button class="btn btn-warning"
                        ng-click="activate(user.userId)"
                        ng-show="user.active == 0"
                        title="Benutzer aktivieren">
                    <i class="fa fa-toggle-off"></i>
                </button>
                <button class="btn btn-success"
                        ng-click="deactivate(user.userId)"
                        ng-show="user.active == 1"
                        title="Benutzer deaktivieren">
                    <i class="fa fa-toggle-on"></i>
                </button>
                
                <a href="#/{{user.userId}}/permissions"
                   class="btn btn-info"
                   title="Berechtigungen des Benutzers editieren">
                    <i class="fa fa-lock"></i>
                </a>
                
                <button class="btn btn-danger"
                        ng-click="delete(user.userId)"
                        title="Benutzer löschen">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>