<div class="row">
    <div class="col-md-12">
        <h1>Fehlerübersicht</h1>
    </div>
</div>

<!--<h3>Filtern</h3>
<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="filterActiveStatus" class="col-sm-3 control-label">Aktiv</label>
                <div class="col-sm-6">
                    <select class="form-control" name="filterActiveStatus" ng-model="search.active">
                        <option value="">Alle</option>
                        <option value="1">Aktiv</option>
                        <option value="0">Inaktiv</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>-->

<table class="table table-striped m-t">
    <thead>
        <th>Exception</th>
        <th>Insgesamt</th>
    </thead>
    <tbody>
        <tr ng-repeat="error in errorList">
            <td>{{error.errorCode}}</td>
            <td>{{error.count}}</td>
        </tr>
    </tbody>
</table>