<div class="row m-y-2">
    <div class="col-sm-12">
        <h1>Willkommen zur Einrichtung Ihrer Nephthys Installation.</h1>
        <p>Bitte seien Sie sich sicher, dass Sie folgende Installationen bereits installiert haben:</p>
        <ul>
            <li>Weiterleitungseinstellungen im Nginx/Apache/Tomcat8</li>
            <li>SQL Datenbank (Aktuell Unterstütze Daternbanken: Postgres ab V9.0)</li>
            <li>Den Luceeadminuser eingerichtet</li>
        </ul>
        
        <div class="form-group row">
            <div class="col-xs-12 text-sm-right">
                <button class="btn btn-success" ng-click="proceed()"><i class="fa fa-chevron-right"></i> Mit der Installation beginnen</button>
            </div>
        </div>
    </div>
</div>