<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/" class="btn btn-secondary"><i class="fa fa-chevron-left"></i> Zurück zur Reviewübersicht</a>
            <a href="#/genre/" class="btn btn-primary"><i class="fa fa-tag"></i> Neues Genre anlegen</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Genreübersicht</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-inverse m-t-1">
            <thead>
                <th>ID</th>
                <th>Genre</th>
                <th>Aktionen</th>
            </thead>
            <tbody>
                <tr ng-repeat="genre in genres">
                    <td>{{genre.genreId}}</td>
                    <td>
                        <a href="#/genre/{{genre.genreId}}">{{genre.name}}</a>
                    </td>
                    <td>
                        <a href="#/genre/{{genre.genreId}}"
                           class="btn btn-primary"
                           title="Genredetails">
                            <i class="fa fa-cog"></i>
                        </a>
                        
                        <button class="btn btn-danger"
                                ng-click="delete(genre.genreId)"
                                title="Genre löschen">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>