<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/" class="btn btn-secondary"><i class="fa fa-chevron-left"></i> Zurück zur Reviewübersicht</a>
            <a href="#/genres" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Genre <small>{{genre.name}}</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h3>Details</h3>
            <form novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Bezeichnung</label>
                            <input type="text" class="form-control" id="name" placeholder="name" ng-model="genre.name">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 m-t">
                        <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
                    </div>
                </div>
            </form>
            
            <p ng-show="genre.genreId != 0">Dieses Genre wurde am {{genre.creationDate}} angelegt von <a href="/com.Nephthys.user#/{{genre.creator.userId}}">{{genre.creator.userName}}</a></p>
            <p ng-show="genre.genreId != 0">Dieses Genre wurde zuletzt am {{genre.creationDate}} geändert von <a href="/com.Nephthys.user#/{{genre.lastEditor.userId}}">{{genre.lastEditor.userName}}</a></p>
            
            <div class="alert alert-{{message.type}} m-t" role="alert" ng-show="message">
                <h3>{{message.headline}}</h3>
                <p>{{message.text}}</p>
                <p>{{message.errorMessage}}</p>
            </div>
        </div>
    </div>
</div>