$highlight-color:      #EEEEEE;
$highlight-font-color: #004FAA;

$font-family-sans-serif:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-handwriting: "Architects Daughter", cursive;