<div class="row m-b-2">
    <div class="col-md-12">
        <a href="#/" class="btn btn-secondary"><i class="fa fa-chevron-left"></i> Zurück zur Seitenübersicht</a>
    </div>
</div>
        
<div class="alert alert-{{message.type}} m-t-1" role="alert" ng-show="message">
    <h3>{{message.headline}}</h3>
    <p>{{message.text}}</p>
    <p>{{message.errorMessage}}</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Seitenhierarchie</h1>
        
        <div class="row">
            <div class="col-xl-12">
                <div class="card card-block">
                    <form>
                        <div class="form-group row">
                            <label for="version" class="col-md-2 col-sm-4 form-control-label">Version</label>
                            <div class="col-md-8 col-sm-5">
                                <select class="form-control" name="version" ng-model="selectedVersion" ng-options="version as 'Version ' + version for (version, value) in hierarchy.versions">
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <button class="btn btn-primary" ng-click="addVersion()" title="Neue Version hinzufügen"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div ng-if="pageStatus[ hierarchy.versions[selectedVersion].pageStatusId ].nextStatus && ! hierarchy.versions[selectedVersion].new">
                                    <h4>Status ändern in</h4>
                                    <button type="submit"
                                            class="btn btn-primary m-r-1"
                                            ng-repeat="ps in pageStatus[ hierarchy.versions[selectedVersion].pageStatusId ].nextStatus"
                                            ng-click="pushToStatus(ps.pageStatusId);">{{ps.name}}</button>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="hierarchy.versions[selectedVersion].editable">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Diese Version speichern</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        
        <div class="row m-t-3">
            <div class="col-xl-12">
                <div class="card card-block">
                    <div class="row">
                        <div class="col-md-4" ng-repeat="region in hierarchy.versions[selectedVersion].regions" ng-include="'tree_renderer.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="tree_renderer.html">
    <h4>{{region.name}}</h4>
    <div ui-tree id="ui-tree-{{region}}" data-nodrag="{{! hierarchy.versions[selectedVersion].editable}}" data-nodrop="{{! region.editable}}" data-clone-enabled="false">
        <ol ui-tree-nodes ng-model="region.pages">
            <li ng-repeat="page in region.pages" ui-tree-node ng-include="'tree_nodes_renderer.html'"></li>
        </ol>
    </div>
</script>

<script type="text/ng-template" id="tree_nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-sm" ng-if="page.pages && page.pages.length > 0" data-nodrag ng-click="toggle(this)"><span
            class="fa"
            ng-class="{
              'fa-chevron-right': collapsed,
              'fa-chevron-down': !collapsed
            }"></span></a>
        <span class="title">{{page.title}}</span>
        <!--
        <a class="pull-right btn btn-danger btn-sm" data-nodrag ng-click="remove(this)"><span
            class="fa fa-remove"></span></a>
        <a class="pull-right btn btn-primary btn-sm" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
            class="fa fa-plus"></span></a>
        -->
    </div>
    <ol ui-tree-nodes="" ng-model="page.pages" ng-class="{hidden: collapsed}">
        <li ng-repeat="page in page.pages" ui-tree-node ng-include="'tree_nodes_renderer.html'"></li>
    </ol>
</script>