<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Seitenaufrufe der letzten 30 Tage <small>ohne dynamische Unterseiten</small></h3>
        <canvas chart-options="chart.options" chart-series="chart.series" chart-labels="chart.labels" chart-data="chart.data" class="chart chart-bar ng-isolate-scope"></canvas>
    </div>
    <div class="col-md-6" ng-show="useDynamicSuffixes == '1'">
        <h3>Seitenaufrufe der letzten 10 Tage <small>mit dynamischen Unterseiten</small></h3>
        <canvas chart-options="chartWithParameter.options" chart-series="chartWithParameter.series" chart-labels="chartWithParameter.labels" chart-data="chartWithParameter.data" chart-legend="true" class="chart chart-bar ng-isolate-scope"></canvas>
    </div>
</div>