<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Seite <small>{{page.link}}</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h3>Seitenoptionen und - details</h3>
            <form novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="parentId">Übergeordnete Seite</label>
                            <input type="text" class="form-control" id="parentId" disabled readonly="readonly" ng-model="page.parentId" title="Not yet implemented">
                        </div>
                        <div class="form-group">
                            <label for="link">Link</label>
                            <input type="text" class="form-control" id="link" ng-model="page.link">
                        </div>
                        <div class="form-group">
                            <label for="linktext">Text des Links</label>
                            <input type="text" class="form-control" id="linktext" ng-model="page.linktext">
                        </div>
                        <div class="form-group">
                            <label for="title">Titel der Seite / des Links</label>
                            <input type="text" class="form-control" id="title" ng-model="page.title">
                        </div>
                        <div class="form-group">
                            <label for="description">Beschreibung der Seite</label>
                            <input type="text" class="form-control" id="description" ng-model="page.description">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sortOrder">Sortierung</label>
                            <input type="text" class="form-control" id="sortOrder" ng-model="page.sortOrder">
                        </div>
                        <div class="form-group">
                            <label for="useDynamicSuffixes" title="Dynamische Seiten Suffixe sind Erweiterungen der Url, über welche sich Datensätze eines Moduls laden lassen">Dynamische Seiten Suffixe verwenden *</label>
                            <select class="form-control" ng-model="page.useDynamicSuffixes"
                                    ng-options="o.v as o.n for o in [{ n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="region" title="Eine Navigationsregion ist zum Beispiel die Kopfnavigation am oberen Rand der Webseite">Region *</label>
                            <select class="form-control" ng-model="page.region">
                                <option value="header">Kopfnavigation</option>
                                <option value="footer">Fußnavigation</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="active">Aktiv</label>
                            <select class="form-control" ng-model="page.active"
                                    ng-options="o.v as o.n for o in [{ n: 'Aktiv', v: true }, { n: 'Inaktiv', v: false }]">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="active">Status</label>
                            <select class="form-control" ng-model="page.pageStatusId" ng-options="o.pageStatusId as o.name for o in pageStatus">
                            </select>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
            </form>
        </div>
        
        <div class="alert alert-{{message.type}} m-t" role="alert" ng-show="message">
            <h3>{{message.headline}}</h3>
            <p>{{message.text}}</p>
            <p>{{message.errorMessage}}</p>
        </div>
    </div>
</div>

<script type="text/ng-template" id="contentChild">
    <form>
        <button class="btn btn-danger pull-right" ng-click="deleteElement(child)"><i class="fa fa-trash"></i></button>
        <button class="btn btn-secondary pull-right" ng-if="! $first" ng-click="moveUp(child)"><i class="fa fa-arrow-up"></i></button>
        <button class="btn btn-secondary pull-right" ng-if="! $last" ng-click="moveDown(child)"><i class="fa fa-arrow-down"></i></button>
        <h2>{{child.type}}</h2>
        
        <div class="form-group row" ng-repeat="option in availableOptions[child.type]">
            <label class="col-sm-2">{{option.description}}</label>
            <div class="col-sm-10">
                <input ng-model="child.options[option.dbName]" class="form-control" ng-if="option.type == 'text'" ng-change="checkOption(child, option.dbName, child.options[option.dbName])">
                <select class="form-control"
                        ng-model="child.options[option.dbName]"
                        ng-if="option.type == 'boolean'"
                        ng-change="checkOption(child, option.dbName, child.options[option.dbName])"
                        ng-options="o.v as o.n for o in [{ n: 'Option entfernen/Nicht gesetzt', v: ''}, { n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                </select>
                <select ng-model="child.options[option.dbName]" class="form-control" ng-if="option.type == 'select' || option.type == 'query'" ng-change="checkOption(child, option.dbName, child.options[option.dbName])">
                    <option value="">Option entfernen/Nicht gesetzt</option>
                    <option value="{{selectOption.value}}" ng-repeat="selectOption in option.selectOptions">{{selectOption.description}}</option>
                </select>
                <div ng-model="child.options[option.dbName]" class="form-control" ng-if="option.type == 'wysiwyg'" text-angular ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6'], ['p', 'pre', 'quote'], ['ul', 'ol'], ['bold','italics','underline','strikeThrough'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'], ['insertLink'], ['undo', 'redo'],['wordcount','charcount']]"></div><!-- todo: implement insertImage | insertVideo -->
            </div>
        </div>
        
        <div ng-if="child.children.length > 0">
            <h4>Unterelemente</h4>
            <div class="card card-block" ng-repeat="child in child.children" ng-include="'contentChild'"></div>
        </div>
        
        <div ng-if="availableSubModules[child.type].length > 0">
            <h4>Weiteres Unterelement hinzufügen</h4>
            
            <select class="form-control" ng-change="appendChild(child, newChildren)" ng-model="newChildren">
                <option value="" selected="selected"></option>
                <option ng-repeat="type in availableSubModules[child.type]" value="{{type}}">{{type}}</option>
            </select>
        </div>
    </form>
</script>

<div class="row">
    <div class="col-md-12">
        <div class="card card-block" ng-repeat="child in page.content" ng-include="'contentChild'"></div>
        
        <button class="btn btn-primary" ng-click="appendChild(page.content, 'com.Nephthys.container');"><i class="fa fa-plus"></i> Neuen Container hinzufügen</button>
        <button class="btn btn-primary" ng-click="appendChild(page.content, 'com.IcedReaper.startpage');" ng-if="page.content.length === 0"><i class="fa fa-plus"></i> Nur Startseite verwenden</button>
    </div>
</div>
