<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/status" class="btn btn-secondary"><i class="fa fa-tags"></i> Statusübersicht</a>
            <a href="#/0" class="btn btn-primary">Neue Seite anlegen</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Seitenübersicht</h1>
    </div>
</div>

<h3>Filtern</h3>
<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="filterActiveStatus" class="col-sm-3 control-label">Aktiv</label>
                <div class="col-sm-6">
                    <select class="form-control" name="filterActiveStatus" ng-model="search.active">
                        <option value="">Alle</option>
                        <option value="1">Aktiv</option>
                        <option value="0">Inaktiv</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-inverse m-t">
    <thead>
        <th>ID</th>
        <th>Beschribung</th>
        <th>Link</th>
        <th>Region</th>
        <th>Status</th>
        <th>Aktionen</th>
    </thead>
    <tbody>
        <tr ng-repeat="page in pages | filter:search">
            <td>{{page.pageId}}</td>
            <td>
                <a href="#/{{page.pageId}}">{{page.linktext}}</a>
            </td>
            <td>{{page.link}}</td>
            <td>{{page.region}}</td>
            <td>{{page.pageStatusName}}</td>
            <td>
                <a href="#/{{page.pageId}}"
                   class="btn btn-primary"
                   title="Seitendetails">
                    <span class="fa fa-cog"></span>
                </a>
                <a href="#/{{page.pageId}}/statistics"
                   class="btn btn-secondary"
                   title="Statistiken">
                    <span class="fa fa-line-chart"></span>
                </a>
                
                <button class="btn btn-warning"
                        ng-click="activate(page.pageId)"
                        ng-show="page.active == 0"
                        title="Seite aktivieren">
                    <span class="fa fa-toggle-off"></span>
                </button>
                <button class="btn btn-success"
                        ng-click="deactivate(page.pageId)"
                        ng-show="page.active == 1"
                        title="Seite deaktivieren">
                    <span class="fa fa-toggle-on"></span>
                </button>
                
                <button class="btn btn-danger"
                        ng-click="delete(page.pageId)"
                        title="Seite löschen">
                    <span class="fa fa-trash-o"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>