<div class="row">
    <div class="col-sm-12">
        <a href="#/status" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Statusdetails für <small>{{status.name}}</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <form novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="link">Name</label>
                            <input type="text" class="form-control" id="name" ng-model="status.name">
                        </div>
                        <div class="form-group">
                            <label for="active">Aktiv</label>
                            <select class="form-control" ng-model="status.active"
                                    ng-options="o.v as o.n for o in [{ n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="active" title="Seiten, die einen Status haben, der als Offline markiert ist, werden nicht auf der Webseite angezeigt und können nicht angesurft werden.">Offline</label>
                            <select class="form-control" ng-model="status.offline"
                                    ng-options="o.v as o.n for o in [{ n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="active" title="Seiten, die diesen Status haben, können permanent gelöscht werden.">Löschbar</label>
                            <select class="form-control" ng-model="status.deleteable"
                                    ng-options="o.v as o.n for o in [{ n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="active" title="Seiten, die in diesem Status sind, dürfen weiterhin bearbeitet werden.">Bearbeitbar</label>
                            <select class="form-control" ng-model="status.editable"
                                    ng-options="o.v as o.n for o in [{ n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="active" title="In diesem Status werden neu angelegte Seiten gespeichert">Startstatus</label>
                            <select class="form-control" ng-model="status.startStatus"
                                    ng-options="o.v as o.n for o in [{ n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="active" title="In diesen Status werden Seiten verschoben, die gelöscht werden.">Endstatus</label>
                            <select class="form-control" ng-model="status.endStatus"
                                    ng-options="o.v as o.n for o in [{ n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                            </select>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
            </form>
        </div>
        
        <div class="alert alert-{{message.type}} m-t-1" role="alert" ng-show="message">
            <h3>{{message.headline}}</h3>
            <p>{{message.text}}</p>
            <p>{{message.errorMessage}}</p>
        </div>
    </div>
</div>