<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/status" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Statusdetails für <small>{{pageStatus.name}}</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <form novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="link">Name</label>
                            <input type="text" class="form-control" id="name" ng-model="pageStatus.name">
                        </div>
                        <div class="form-group">
                            <label for="active">Aktiv</label>
                            <select class="form-control" ng-model="pageStatus.active">
                                <option value="1">Aktiv</option>
                                <option value="0">Inaktiv</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="active" title="Seiten, die einen Status haben, der als Offline markiert ist, werden nicht auf der Webseite angezeigt und können nicht angesurft werden.">Offline</label>
                            <select class="form-control" ng-model="pageStatus.offline">
                                <option value="1">Ja</option>
                                <option value="0">Nein</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
            </form>
        </div>
        
        <div class="alert alert-{{message.type}} m-t" role="alert" ng-show="message">
            <h3>{{message.headline}}</h3>
            <p>{{message.text}}</p>
            <p>{{message.errorMessage}}</p>
        </div>
    </div>
</div>