<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/" class="btn btn-secondary"><i class="fa fa-chevron-left"></i> Zurück zur Seitenübersicht</a>
            <a href="#/status/0" class="btn btn-primary">Neuen Status anlegen</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Statusübersicht</h1>
    </div>
</div>

<h3>Filtern</h3>
<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="filterActiveStatus" class="col-sm-3 control-label">Aktiv</label>
                <div class="col-sm-6">
                    <select class="form-control" name="filterActiveStatus" ng-model="search.active"
                            ng-options="o.v as o.n for o in [{ n: 'Alle', v: ''}, { n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-inverse m-t">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Online</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
        <tr ng-repeat="status in pageStatus | filter:search">
            <td>{{status.pageStatusId}}</td>
            <td>
                <a href="#/status/{{status.pageStatusId}}">{{status.name}}</a>
            </td>
            <td ng-if="status.offline == 1">Nein</td>
            <td ng-if="status.offline == 0">Ja</td>
            <td>
                <a href="#/status/{{status.pageStatusId}}"
                   class="btn btn-primary"
                   title="Statusdetails">
                    <span class="fa fa-cog"></span>
                </a>
                
                <button class="btn btn-warning"
                        ng-click="activate(status.pageStatusId)"
                        ng-show="status.active == 0"
                        title="Status aktivieren">
                    <span class="fa fa-toggle-off"></span>
                </button>
                <button class="btn btn-success"
                        ng-click="deactivate(status.pageStatusId)"
                        ng-show="status.active == 1"
                        title="Status deaktivieren">
                    <span class="fa fa-toggle-on"></span>
                </button>
                
                <button class="btn btn-danger"
                        ng-click="delete(status.pageStatusId)"
                        title="Status löschen">
                    <span class="fa fa-trash-o"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>