<div class="row">
    <div class="col-md-12">
        <h1>Übersicht über eingegangene Kontaktanfragen</h1>
    </div>
</div>

<h3>Filtern</h3>
<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="filterReadStatus" class="col-sm-3 control-label">Gelesen</label>
                <div class="col-sm-6">
                    <select class="form-control" name="filterReadStatus" ng-model="search.read"
                            ng-options="o.v as o.n for o in [{ n: 'Ja', v: true }, { n: 'Alle', v: ''}, { n: 'Nein', v: false }]">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="filterRepliedStatus" class="col-sm-3 control-label">Beantwortet</label>
                <div class="col-sm-6">
                    <select class="form-control" name="filterRepliedStatus" ng-model="search.replied"
                            ng-options="o.v as o.n for o in [{ n: 'Alle', v: ''}, { n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-inverse m-t-1">
    <thead>
        <th><i class="fa fa-eye"></i></th>
        <th><i class="fa fa-envelope"></i></th>
        <th>Datum</th>
        <th>Betreff</th>
        <th>User</th>
        <th>Antworten</th>
    </thead>
    <tbody>
        <tr ng-repeat="request in requests | filter:search">
            <td>
                <i ng-if="request.read" class="fa fa-circle text-success" title="Gelesen"></i>
                <i ng-if="! request.read" class="fa fa-circle text-danger" title="Ungelesen"></i>
            </td>
            <td>
                <i ng-if="request.replied" class="fa fa-circle text-success" title="Beantwortet"></i>
                <i ng-if="! request.replied" class="fa fa-circle text-danger" title="Unbeantwortet"></i>
            </td>
            <td>
                <a href="#/{{request.requestId}}">{{request.requestDate}}</a>
            </td>
            <td>
                <a href="#/{{request.requestId}}">{{request.subject}}</a>
            </td>
            <td ng-if="request.requestorUserId != 0 && request.requestorUserId != null">
                <a href="/com.Nephthys.userManager#/{{request.requestorUserId}}">{{request.userName}}</a>
            </td>
            <td ng-if="request.requestorUserId == 0 || request.requestorUserId == null">
                {{request.userName}}
            </td>
            <td>{{request.replyCount}}</td>
        </tr>
    </tbody>
</table>