/* blueimp gallery */
.blueimp-gallery > .indicator > li {
    width: 50px;
    height: 50px;
}

/* footer */
.footerLinks > a + a::before {
    color: #ccc;
    content: " | ";
    padding: 0 5px;
}

body > footer {
    border-top: 1px solid #e5e5e5;
    color: #767676;
    margin-top: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

/* user search & results */
.userDetails {
    .avatar {
        max-width: 100%;
    }
}

.media-object {
    max-width: 64px;
}

.navbar {
    background-color: $highlight-color;
    
    .navbar-nav {
        padding-top: 10px;
    }
    
    .nav-item {
        $highlight-size: 0.2rem;
        
        font-weight: bold;
        font-size: 1.2rem;
        padding-bottom: $highlight-size;
        
        > .nav-link {
            color: #FFFFFF;
        }
        
        &:hover,
        &.active {
            border-bottom: $highlight-size solid #FFF;
            padding-bottom: 0rem;
        }
    }
}

.dropdown-menu {
    background-color: $highlight-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    > small {
        color: $highlight-color;
    }
}