/* blueimp gallery */
.blueimp-gallery > .indicator > li {
    width: 50px;
    height: 50px;
}

/* footer */
.footerLinks > a + a::before {
    color: #ccc;
    content: " | ";
    padding: 0 5px;
}

footer {
  border-top: 1px solid #e5e5e5;
  color: #767676;
  margin-top: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

/* user search & results */
.userDetails {
    
}

.userDetails .avatar {
    max-width: 100%;
}

.navbar-brand > img {
    margin-top: -17px;
}

.media-object {
    max-width: 64px;
}