$body-bg:              #1c1a1a;
$body-color:           #efefef;
$highlight-color:      #004FAA;
$highlight-font-color: #0087A5;

$font-family-sans-serif:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-handwriting: "Architects Daughter", cursive;

$card-border-color:           $highlight-color;
$card-bg:                     $body-bg;

$list-group-bg:               $body-bg;
$list-group-border:           $highlight-color;
$list-group-link-color:       $body-color;

$list-group-link-hover-color: $highlight-color;

$pagination-color:                     $body-color;
$pagination-bg:                        $body-bg;
$pagination-border:                    $highlight-color;

$pagination-disabled-color:            $body-color;
$pagination-disabled-bg:               $body-bg;
$pagination-disabled-border:           $highlight-color;