<div class="row m-b-2">
    <div class="col-md-12 col-sm-12">
        <a href="#/tasklist" class="btn btn-secondary"><i class="fa fa-tasks"></i> Aufgabenliste</a>
        <a href="#/blogpost/list" class="btn btn-secondary"><i class="fa fa-tags"></i> Blogpostübersicht</a>
        <a href="#/status/list" class="btn btn-secondary"><i class="fa fa-list"></i> Statusübersicht</a>
        <a href="#/status/flow" class="btn btn-secondary"><i class="fa fa-code-fork"></i> Statusflow</a>
        <a href="#/category/list" class="btn btn-secondary"><i class="fa fa-tags"></i> Kategorieübersicht</a>
        <a href="#/category/list" class="btn btn-cog"><i class="fa fa-cogs"></i> Einstellungen</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Blogpost <small>&bdquo;{{blogpost.headline}}&rdquo;</small></h1>
    </div>
</div>

<div class="alert alert-{{message.type}} m-t-1" role="alert" ng-show="message">
    <h3>{{message.headline}}</h3>
    <p>{{message.text}}</p>
    <p>{{message.errorMessage}}</p>
</div>

<uib-tabset active="active">
    <uib-tab heading="Details">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-block">
                    <h3>Details</h3>
                    <form novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="headline">Überschrift</label>
                                    <input type="text" class="form-control" id="headline" placeholder="headline" ng-model="blogpost.headline" ng-keyup="updateLink()" ng-disabled="! blogpost.isEditable">
                                </div>
                                <div class="form-group">
                                    <label for="link">
                                        Verlinkung<br>
                                        <span class="text text-danger">Achtung! Alte Links sind nach einem Abändern nicht mehr erreichbar!</span>
                                    </label>
                                    <input type="text" class="form-control" id="link" placeholder="Verlinkung" ng-model="blogpost.link" ng-keydown="linkSet = true" ng-disabled="! blogpost.isEditable">
                                </div>
                                <div class="form-group">
                                    <label for="active">
                                        Veröffentlichungsdatum<br>
                                    </label>
                                    <p class="input-group">
                                        <input class="form-control" ng-model="blogpost.releaseDate" type="text" ng-disabled="! blogpost.isEditable" uib-datepicker-popup="dd. MM. yyyy" is-open="releaseDate.isOpen" datepicker-options="releaseDate.options">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openReleaseDate()"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="active">
                                        Privat<br>
                                        <span class="text text-info">Dieser Blogpost kann nur von Ihnen bearbeitet werden</span>
                                    </label>
                                    <select class="form-control" ng-model="blogpost.private"
                                            ng-options="o.v as o.n for o in [{ n: 'Nein', v: false }, { n: 'Ja', v: true }]" ng-disabled="! blogpost.isEditable">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="folderName">
                                        Ordner<br>
                                        <span class="text text-warning">Dieser Ordner darf noch nicht vorhanden sein. Sollten Sie sich unsicher sein, lassen sie dieses Feld leer, dann wird ein generierter Wert gewählt</span>
                                    </label>
                                    <input type="text" class="form-control" id="folderName" placeholder="folderName" ng-model="blogpost.folderName" ng-disabled="! blogpost.isEditable">
                                </div>
                                <div class="form-group">
                                    <label for="active">Kommentare erlaubt?</label>
                                    <select class="form-control" ng-model="blogpost.commentsActivated" ng-disabled="! blogpost.isEditable"
                                            ng-options="o.v as o.n for o in [{ n: 'Nein', v: false }, { n: 'Ja', v: true }]">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="active">Anonyme Kommentare erlaubt?</label>
                                    <select class="form-control" ng-model="blogpost.anonymousCommentAllowed" ng-disabled="! blogpost.isEditable"
                                            ng-options="o.v as o.n for o in [{ n: 'Nein', v: false }, { n: 'Ja', v: true }]">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="active">Kommentare müssen frei gegeben werden?</label>
                                    <select class="form-control" ng-model="blogpost.commentsNeedToGetPublished" ng-disabled="! blogpost.isEditable"
                                            ng-options="o.v as o.n for o in [{ n: 'Nein', v: false }, { n: 'Ja', v: true }]">
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-b-1">
                            <div class="col-md-6">
                                <div ng-if="status[ blogpost.statusId ].nextStatus && blogpost.blogpostId">
                                    <h4>Status ändern in</h4>
                                    <button type="submit"
                                            class="btn m-r-1"
                                            ng-repeat="ps in status[ blogpost.statusId ].nextStatus"
                                            ng-class="statusButtonClass(status[ blogpost.statusId ].online, ps.online)"
                                            ng-click="pushToStatus(ps.statusId);">{{ps.name}}</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right m-t-1">
                                    <button class="btn btn-success" ng-click="save()" ng-disabled="! blogpost.isEditable"><i class="fa fa-floppy-o"></i> Speichern</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div text-angular ng-model="blogpost.story" ta-disabled="! blogpost.isEditable"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div ng-controller="blogCategoryCtrl" ng-show="blogpostId != 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-block">
                        <h3>Kategorien</h3>
                        
                        <tags-input ng-model="categories" on-tag-removing="delete($tag)" on-tag-added="add($tag)" add-on-blur="false" ng-disabled="! blogpost.isEditable">
                            <auto-complete source="loadAutoCompleteCategories($query)"></auto-complete>
                        </tags-input>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Kommentare" diable="blogpost.blogpostId == 0">
        <div ng-controller="blogCommentsCtrl">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-block">
                        <div class="row m-b-1">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary" ng-click="load()"><i class="fa fa-refresh"></i> Aktualisieren</button>
                            </div>
                        </div>
                        <ul class="media-list">
                            <li class="media" ng-repeat="comment in comments">
                                <div class="media-body">
                                    <small class="pull-right">{{comment.creationDate}}</small>
                                    <h5 class="media-heading">{{comment.username}}</h5>
                                    
                                    <p>{{comment.comment}}</p>
                                    
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <button class="btn btn-success btn-sm" ng-click="publish(comment, $index)" ng-show="comment.published == false"><i class="fa fa-eye"></i> Veröffentlichen</button>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-danger btn-sm" ng-click="delete(comment, $index)" ng-show="comment.published == false"><i class="fa fa-trash-o"></i> Löschen</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Statistiken" diable="blogpost.blogpostId == 0">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-block">
                    <icedreaper-blog-statistics blogpost-id="blogpost.blogpostId"
                                                chart-type="'line'"
                                                request-type="'total'"
                                                headline="Statistiken zu dieser Gallerie"></icedreaper-blog-statistics>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>