<div class="row m-b-2">
    <div class="col-md-10 col-sm-8">
        <a href="#/tasklist" class="btn btn-secondary"><i class="fa fa-tasks"></i> Aufgabenliste</a>
        <a href="#/blogpost/list" class="btn btn-secondary"><i class="fa fa-tags"></i> Blogpostübersicht</a>
        <a href="#/status/list" class="btn btn-secondary"><i class="fa fa-list"></i> Statusübersicht</a>
        <a href="#/status/flow" class="btn btn-secondary"><i class="fa fa-code-fork"></i> Statusflow</a>
        <a href="#/category/list" class="btn btn-secondary"><i class="fa fa-tags"></i> Kategorieübersicht</a>
        <a href="#/settings" class="btn btn-secondary"><i class="fa fa-cogs"></i> Einstellungen</a>
        <a href="#/statistics" class="btn btn-secondary"><i class="fa fa-area-chart"></i> Gesamtstatistik</a>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="pull-right">
            <a href="#/blogpost/" class="btn btn-primary">Neuen Blogpost anlegen</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Blogübersicht</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-inverse m-t-1">
            <thead>
                <th class="text-nowrap">ID</th>
                <th class="text-nowrap">Überschrift</th>
                <th class="text-nowrap">Veröffentlichungsdatum</th>
                <th class="text-nowrap">Kategorien</th>
                <th class="text-nowrap">Status</th>
                <th class="text-nowrap">Aktionen</th>
            </thead>
            <tbody>
                <tr ng-repeat="blogpost in blogposts"> <!-- change indicator to published -->
                    <td>{{blogpost.blogpostId}}</td>
                    <td>
                        <i class="fa fa-star" ng-if="blogpost.private"></i>
                        <i class="fa fa-lock" ng-if="! blogpost.isEditable"></i>
                        <a href="#/blogpost/{{blogpost.blogpostId}}">{{blogpost.headline}}</a>
                    </td>
                    <td>{{blogpost.releaseDate}}</td>
                    <td>{{blogpost.categories.join(', ')}}</td>
                    <td ng-class="(status[ blogpost.statusId ].online ? 'text-success' : 'text-danger')">{{status[ blogpost.statusId ].name}}</td>
                    <td class="text-nowrap">
                        <button class="btn btn-danger"
                                ng-click="delete(blogpost.blogpostId)"
                                title="Blogpost löschen"
                                ng-disabled="! blogpost.isEditable"
                                ng-if="status[ blogpost.statusId ].deleteable">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <div class="btn-group m-l-1">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Status ändern
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item"
                                        ng-repeat="ps in status[ blogpost.statusId ].nextStatus"
                                        ng-class="statusButtonClass(status[ blogpost.statusId ].online, ps.online)"
                                        ng-click="pushToStatus(blogpost.blogpostId, ps.statusId);">{{ps.name}}</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>