<div class="row m-b-2">
    <div class="col-md-10 col-sm-8">
        <a href="#/" class="btn btn-secondary"><i class="fa fa-tasks"></i> Übersicht</a>
        <!--<a href="#/pages/list" class="btn btn-secondary"><i class="fa fa-list"></i> Seitenübersicht</a>
        <a href="#/status/list" class="btn btn-secondary"><i class="fa fa-list"></i> Statusübersicht</a>
        <a href="#/status/flow" class="btn btn-secondary"><i class="fa fa-code-fork"></i> Statusflow</a>
        <a href="#/sitemap" class="btn btn-secondary"><i class="fa fa-sitemap"></i> Sitemap</a>-->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Gesamtstatistiken</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <icedreaper-blog-statistics request-type="'perBlog'"
                                           chart-type="'line'"
                                           sort-order="ASC"></nephthys-blog-statistics>
        </div>
    </div>
</div>