<div class="row m-b-2">
    <div class="col-md-10 col-sm-8">
        <a href="#/tasklist" class="btn btn-secondary"><i class="fa fa-tasks"></i> Aufgabenliste</a>
        <a href="#/gallery/list" class="btn btn-secondary"><i class="fa fa-tags"></i> Gallerieübersicht</a>
        <a href="#/status/list" class="btn btn-secondary"><i class="fa fa-list"></i> Statusübersicht</a>
        <a href="#/status/flow" class="btn btn-secondary"><i class="fa fa-code-fork"></i> Statusflow</a>
        <a href="#/category/list" class="btn btn-secondary"><i class="fa fa-tags"></i> Kategorieübersicht</a>
        <a href="#/settings" class="btn btn-secondary"><i class="fa fa-cogs"></i> Einstellungen</a>
        <a href="#/statistics" class="btn btn-secondary"><i class="fa fa-area-chart"></i> Gesamtstatistik</a>
    </div>
    <div class="col-md-2 col-sm-4">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Kategorie <small>{{category.name}}</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h3>Details</h3>
            <form novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Kategoriebezeichnung</label>
                            <input type="text" class="form-control" id="name" placeholder="name" ng-model="category.name">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 m-t-1">
                        <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
                    </div>
                </div>
            </form>
            
            <p ng-show="category.categoryId != 0">Diese Kategorie wurde am {{category.creationDate}} angelegt von <a href="/com.Nephthys.userManager#/{{category.creator.userId}}">{{category.creator.userName}}</a></p>
            <p ng-show="category.categoryId != 0">Diese Kategorie wurde zuletzt am {{category.creationDate}} geändert von <a href="/com.Nephthys.userManager#/{{category.lastEditor.userId}}">{{category.lastEditor.userName}}</a></p>
            
            <div class="alert alert-{{message.type}} m-t-1" role="alert" ng-show="message">
                <h3>{{message.headline}}</h3>
                <p>{{message.text}}</p>
                <p>{{message.errorMessage}}</p>
            </div>
        </div>
    </div>
</div>