<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/categories" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Kategorie <small>{{category.name}}</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <h3>Details</h3>
            <form novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Kategoriebezeichnung</label>
                            <input type="text" class="form-control" id="name" placeholder="name" ng-model="category.name">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 m-t">
                        <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
                    </div>
                </div>
            </form>
            
            <p ng-show="category.categoryId != 0">Diese Kategorie wurde am {{category.creationDate}} angelegt von <a href="/com.Nephthys.user#/{{category.creator.userId}}">{{category.creator.userName}}</a></p>
            <p ng-show="category.categoryId != 0">Diese Kategorie wurde zuletzt am {{category.creationDate}} geändert von <a href="/com.Nephthys.user#/{{category.lastEditor.userId}}">{{category.lastEditor.userName}}</a></p>
            
            <div class="alert alert-{{message.type}} m-t" role="alert" ng-show="message">
                <h3>{{message.headline}}</h3>
                <p>{{message.text}}</p>
                <p>{{message.errorMessage}}</p>
            </div>
        </div>
    </div>
</div>