<div class="row m-b-2">
    <div class="col-md-10 col-sm-8">
        <!--<a href="#/" class="btn btn-secondary"><i class="fa fa-tasks"></i> Aufgabenliste</a>-->
        <!--<a href="#/pages/list" class="btn btn-secondary"><i class="fa fa-list"></i> Seitenübersicht</a>-->
        <a href="#/status/list" class="btn btn-secondary"><i class="fa fa-list"></i> Statusübersicht</a>
        <a href="#/status/flow" class="btn btn-secondary"><i class="fa fa-code-fork"></i> Statusflow</a>
        <a href="#/categories" class="btn btn-secondary"><i class="fa fa-tags"></i> Kategorieübersicht</a>
        <a href="#/statistics" class="btn btn-secondary"><i class="fa fa-area-chart"></i> Gesamtstatistik</a>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="pull-right">
            <a href="#/0" class="btn btn-primary">Neue Gallery anlegen</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Gallerieübersicht</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Filtern</h3>
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="filterActiveStatus" class="col-sm-3 control-label">Aktiv</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="filterActiveStatus" ng-model="search.active"
                                    ng-options="o.v as o.n for o in [{ n: 'Alle', v: ''}, { n: 'Ja', v: true }, { n: 'Nein', v: false }]">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-inverse m-t-1">
            <thead>
                <th>ID</th>
                <th>Überschrift</th>
                <th>Interner Link</th>
                <!--<th>Veröffentlichungsdatum</th>-->
                <th>Bilderanzahl</th>
                <th>Kategorien</th>
                <th>Aktionen</th>
            </thead>
            <tbody>
                <tr ng-repeat="gallery in galleries | filter:search"> <!-- change indicator to published -->
                    <td>{{gallery.galleryId}}</td>
                    <td>
                        <i class="fa fa-star" ng-if="gallery.private"></i>
                        <i class="fa fa-lock" ng-if="! gallery.isEditable"></i>
                        <a href="#/{{gallery.galleryId}}">{{gallery.headline}}</a>
                    </td>
                    <td>{{gallery.link}}</td>
                    <!--<td>{{gallery.releaseDate}}</td>-->
                    <td>{{gallery.pictureCount}}</td>
                    <td>{{gallery.categories.join(', ')}}</td>
                    <td>
                        <a href="#/{{gallery.galleryId}}"
                           class="btn btn-primary"
                           title="Galleriedetails">
                            <i class="fa fa-cog"></i>
                        </a>
                        
                        <button class="btn btn-success"
                                ng-click="activate(gallery.galleryId)"
                                ng-show="! gallery.active"
                                title="Gallerie aktivieren"
                                ng-disabled="! gallery.isEditable">
                            <i class="fa fa-toggle-on"></i>
                        </button>
                        <button class="btn btn-warning"
                                ng-click="deactivate(gallery.galleryId)"
                                ng-show="gallery.active"
                                title="Gallerie deaktivieren"
                                ng-disabled="! gallery.isEditable">
                            <i class="fa fa-toggle-off"></i>
                        </button>
                        
                        <button class="btn btn-danger"
                                ng-click="delete(gallery.galleryId)"
                                title="Gallerie löschen"
                                ng-disabled="! gallery.isEditable">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>