<div class="row m-b-2">
    <div class="col-md-10 col-sm-8">
        <a href="#/tasklist" class="btn btn-secondary"><i class="fa fa-tasks"></i> Aufgabenliste</a>
        <a href="#/gallery/list" class="btn btn-secondary"><i class="fa fa-tags"></i> Gallerieübersicht</a>
        <a href="#/status/list" class="btn btn-secondary"><i class="fa fa-list"></i> Statusübersicht</a>
        <a href="#/status/flow" class="btn btn-secondary"><i class="fa fa-code-fork"></i> Statusflow</a>
        <a href="#/category/list" class="btn btn-secondary"><i class="fa fa-tags"></i> Kategorieübersicht</a>
        <a href="#/settings" class="btn btn-secondary"><i class="fa fa-cogs"></i> Einstellungen</a>
        <a href="#/statistics" class="btn btn-secondary"><i class="fa fa-area-chart"></i> Gesamtstatistik</a>
    </div>
    <div class="col-md-2 col-sm-4">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>{{gallery.headline}} <small>ID: {{gallery.galleryId}}</small></h1>
    </div>
</div>

<uib-tabset active="active">
    <uib-tab heading="Details">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-block">
                    <h3>Details - {{gallery.galleryId}}</h3>
                    <form novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="headline">Überschrift</label>
                                    <input type="text" class="form-control" id="headline" placeholder="headline" ng-model="gallery.headline" ng-disabled="! gallery.isEditable">
                                </div>
                                <div class="form-group">
                                    <label for="link">
                                        Verlinkung<br>
                                        <span class="text text-danger">Achtung! Alte Links sind nach einem Abändern nicht mehr erreichbar!</span>
                                    </label>
                                    <input type="text" class="form-control" id="link" placeholder="Verlinkung" ng-model="gallery.link" ng-disabled="! gallery.isEditable">
                                </div>
                                <div class="form-group">
                                    <label for="title">Seitentitel (in der Detailansicht)</label>
                                    <input type="text" class="form-control" id="title" placeholder="Titel" ng-model="gallery.title" ng-disabled="! gallery.isEditable">
                                </div>
                                <div class="form-group">
                                    <label for="title">Seitenbeschreibung (in der Detailansicht)</label>
                                    <input type="text" class="form-control" id="description" placeholder="Beschreibung" ng-model="gallery.description" ng-disabled="! gallery.isEditable">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="foldername">
                                        Ordner<br>
                                        <span class="text text-warning">Dieser Ordner darf noch nicht vorhanden sein. Sollten Sie sich unsicher sein, lassen sie dieses Feld leer, dann wird ein generierter Wert gewählt</span>
                                    </label>
                                    <input type="text" class="form-control" id="foldername" placeholder="foldername" ng-model="gallery.foldername" ng-disabled="! gallery.isEditable && ! gallery.galleryId">
                                </div>
                                <div class="form-group">
                                    <label for="active">
                                        Privat<br>
                                        <span class="text text-info">Diese Gallerie kann nur von Ihnen bearbeitet werden</span>
                                    </label>
                                    <select class="form-control" ng-model="gallery.private"
                                            ng-options="o.v as o.n for o in [{ n: 'Nein', v: false }, { n: 'Ja', v: true }]"
                                            ng-disabled="! gallery.isEditable">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 icedreaper-gallery-introduction">
                                <h4>Einleitung</h4>
                                <div text-angular ng-model="gallery.introduction" ta-toolbar="[['bold','italics','underline','strikeThrough'],['insertLink']]" ta-disabled="! gallery.isEditable"></div>
                            </div>
                        </div>
                        <div class="row m-t-1">
                            <div class="col-md-12">
                                <h4>Geschichte zur Gallerie</h4>
                                <div text-angular ng-model="gallery.story" ta-toolbar="[
                                    ['h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                                    ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
                                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent']]"
                                    ta-disabled="! gallery.isEditable"></div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div ng-if="status[ gallery.statusId ].nextStatus && gallery.galleryId">
                                    <h4>Status ändern in</h4>
                                    <button type="submit"
                                            class="btn m-r-1"
                                            ng-repeat="ps in status[ gallery.statusId ].nextStatus"
                                            ng-class="statusButtonClass(status[ gallery.statusId ].online, ps.online)"
                                            ng-click="pushToStatus(ps.statusId);">{{ps.name}}</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right m-t-1">
                                    <button class="btn btn-success" ng-click="save()" ng-disabled="! gallery.isEditable"><i class="fa fa-floppy-o"></i> Speichern</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <div class="alert alert-{{message.type}} m-t-1" role="alert" ng-show="message">
                        <h3>{{message.headline}}</h3>
                        <p>{{message.text}}</p>
                        <p>{{message.errorMessage}}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div ng-controller="galleryCategoryCtrl" ng-if="gallery.galleryId">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-block">
                        <h3>Kategorien</h3>
                        
                        <tags-input ng-model="categories" on-tag-removing="delete($tag)" on-tag-added="add($tag)" add-on-blur="false" ng-disabled="! gallery.isEditable">
                            <auto-complete source="loadAutoCompleteCategories($query)"></auto-complete>
                        </tags-input>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    
    <uib-tab heading="Bilder" disable="! gallery.galleryId">
        <div id="pitureTab" ng-controller="galleryPictureCtrl">
            <div class="row" ng-if="gallery.isEditable">
                <div class="col-md-12">
                    <div class="card card-block">
                        <h3>Neue Bilder hochladen</h3>
                        <form novalidate>
                            <div class="form-group">
                                <button multiple accept="image/*" class="btn btn-primary"
                                        ngf-select="upload($newFiles)" 
                                        ngf-max-size="5MB" ngf-keep="'distinct'" ngf-fix-orientation="false">
                                    <i class="fa fa-picture-o"></i> Bilder hinzufügen</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-block">
                        <h3>Vorhandene Bilder</h3>
                        
                        <div ui-tree>
                            <div ui-tree-nodes="" class="row" ng-model="pictures">
                                <div class="col-md-4" ng-repeat="picture in pictures" ui-tree-node>
                                    <div class="card com-icedreaper-gallery-picture-wrapper">
                                        <img ng-src="{{picture.thumbnailFilename}}" class="card-img-top">
                                        <div class="btn btn-secondary" ui-tree-handle ng-if="gallery.isEditable"><i class="fa fa-arrows"></i></div>
                                        <div class="com-icedreaper-gallery-picture-details p-t-1 p-r-1 p-l-1">
                                            <form novalidate>
                                                <div class="form-group row">
                                                    <label for="caption" class="col-sm-5 col-md-3 form-control-label">Bezeichnung</label>
                                                    <div class="col-sm-7 col-md-9">
                                                        <input type="text" class="form-control" ng-model="picture.caption" name="caption" id="caption" ng-disabled="! gallery.isEditable">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="title" class="col-sm-5 col-md-3 form-control-label">Titel</label>
                                                    <div class="col-sm-7 col-md-9">
                                                        <input type="text" class="form-control" ng-model="picture.title" name="title" id="title" ng-disabled="! gallery.isEditable">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="alt" class="col-sm-5 col-md-3 form-control-label">Alt. Text</label>
                                                    <div class="col-sm-7 col-md-9">
                                                        <input type="text" class="form-control" ng-model="picture.alt" name="alt" id="alt" ng-disabled="! gallery.isEditable">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <button class="btn btn-xs btn-success pull-left m-l-1" ng-click="save(picture)" ng-disabled="! gallery.isEditable"><span class="fa fa-save"></span> Aktualisieren</button>
                                                    <button class="pull-right btn btn-xs btn-danger pull-right m-r-1" ng-click="delete(picture.pictureId)" ng-disabled="! gallery.isEditable"><span class="fa fa-trash-o"></span> Löschen</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <button class="btn btn-success" ng-click="saveSorting()"><i class="fa fa-random"></i> Sortierung speichern</button>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    
    <uib-tab heading="Statistiken" disable="! gallery.galleryId">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-block">
                    <icedreaper-gallery-statistics gallery-id="gallery.galleryId"
                                                   chart-type="'line'"
                                                   request-type="'total'"
                                                   headline="Statistiken zu dieser Gallerie"></icedreaper-gallery-statistics>
                </div>
            </div>
        </div>
    </uib-tab>
    
    <uib-tab heading="Genehmigungen" disable="! gallery.galleryId">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                    <h3>Statusänderungshistorie</h3>
                    <table class="table table-striped">
                        <thead>
                            <th>User</th>
                            <th>Alter Status</th>
                            <th>Neuer Status</th>
                            <th>Datum</th>
                        </thead>
                        <tbody ng-repeat="approval in gallery.approvalList">
                            <td><nephthys-user-info user="approval.approver"></nephthys-user-info></td>
                            <td>{{approval.previousStatusName}}</td>
                            <td>{{approval.newStatusName}}</td>
                            <td>{{approval.approvalDate}}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>