<div class="row m-b-2">
    <div class="col-md-10 col-sm-8">
        <a href="#/tasklist" class="btn btn-secondary"><i class="fa fa-tasks"></i> Aufgabenliste</a>
        <a href="#/status/list" class="btn btn-secondary"><i class="fa fa-list"></i> Statusübersicht</a>
        <a href="#/status/flow" class="btn btn-secondary"><i class="fa fa-code-fork"></i> Statusflow</a>
        <a href="#/category/list" class="btn btn-secondary"><i class="fa fa-tags"></i> Kategorieübersicht</a>
        <a href="#/statistics" class="btn btn-secondary"><i class="fa fa-area-chart"></i> Gesamtstatistik</a>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="pull-right">
            <a href="#/gallery/0" class="btn btn-primary">Neue Gallery anlegen</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Gallerieübersicht</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-inverse m-t-1">
            <thead>
                <th class="text-nowrap">ID</th>
                <th class="text-nowrap">Überschrift</th>
                <th class="text-nowrap">Interner Link</th>
                <th class="text-nowrap">Bilderanzahl</th>
                <th class="text-nowrap">Kategorien</th>
                <th class="text-nowrap">Aktueller Status</th>
                <th class="text-nowrap">Aktionen</th>
            </thead>
            <tbody>
                <tr ng-repeat="gallery in galleries">
                    <td>{{gallery.galleryId}}</td>
                    <td>
                        <i class="fa fa-star" ng-if="gallery.private"></i>
                        <i class="fa fa-lock" ng-if="! gallery.isEditable"></i>
                        <a href="#/gallery/{{gallery.galleryId}}">{{gallery.headline}}</a>
                    </td>
                    <td>{{gallery.link}}</td>
                    <td>{{gallery.pictureCount}}</td>
                    <td>{{gallery.categories.join(', ')}}</td>
                    <td ng-class="(status[ gallery.statusId ].online ? 'text-success' : 'text-danger')">{{status[ gallery.statusId ].name}}</td>
                    <td class="text-nowrap">
                        <button class="btn btn-danger"
                                ng-click="delete(gallery.galleryId)"
                                title="Gallerie löschen"
                                ng-disabled="! gallery.isEditable"
                                ng-if="status[ gallery.statusId ].deleteable">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <div class="btn-group m-l-1">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Status ändern
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item"
                                        ng-repeat="ps in status[ gallery.statusId ].nextStatus"
                                        ng-class="statusButtonClass(status[ gallery.statusId ].online, ps.online)"
                                        ng-click="pushToStatus(gallery.galleryId, ps.statusId);">{{ps.name}}</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>