<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>{{gallery.headline}} <small>ID: {{gallery.galleryId}}</small></h1>
    </div>
</div>

<uib-tabset active="active">
    <uib-tab heading="Details">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-block">
                    <h3>Details</h3>
                    <form novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="headline">Überschrift</label>
                                    <input type="text" class="form-control" id="headline" placeholder="headline" ng-model="gallery.headline" ng-disabled="! gallery.isEditable">
                                </div>
                                <div class="form-group">
                                    <label for="active">Aktiv</label>
                                    <select class="form-control" ng-model="gallery.active"
                                            ng-options="o.v as o.n for o in [{ n: 'Nein', v: false }, { n: 'Ja', v: true }]"
                                            ng-disabled="! gallery.isEditable">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="link">
                                        Verlinkung<br>
                                        <span class="text text-danger">Achtung! Alte Links sind nach einem Abändern nicht mehr erreichbar!</span>
                                    </label>
                                    <input type="text" class="form-control" id="link" placeholder="Verlinkung" ng-model="gallery.link" ng-disabled="! gallery.isEditable">
                                </div>
                                <div class="form-group">
                                    <label for="foldername">
                                        Ordner<br>
                                        <span class="text text-warning">Dieser Ordner darf noch nicht vorhanden sein. Sollten Sie sich unsicher sein, lassen sie dieses Feld leer, dann wird ein generierter Wert gewählt</span>
                                    </label>
                                    <input type="text" class="form-control" id="foldername" placeholder="foldername" ng-model="gallery.foldername" ng-disabled="! gallery.isEditable && gallery.galleryId != 0">
                                </div>
                                <div class="form-group">
                                    <label for="active">
                                        Privat<br>
                                        <span class="text text-info">Diese Gallerie kann nur von Ihnen bearbeitet werden</span>
                                    </label>
                                    <select class="form-control" ng-model="gallery.private"
                                            ng-options="o.v as o.n for o in [{ n: 'Nein', v: false }, { n: 'Ja', v: true }]"
                                            ng-disabled="! gallery.isEditable">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 icedreaper-gallery-introduction">
                                <h4>Einleitung</h4>
                                <div text-angular ng-model="gallery.introduction" ta-toolbar="[['bold','italics','underline','strikeThrough'],['insertLink']]" ta-disabled="! gallery.isEditable"></div>
                            </div>
                        </div>
                        <div class="row m-t-1">
                            <div class="col-md-12">
                                <h4>Geschichte zur Gallerie</h4>
                                <div text-angular ng-model="gallery.story" ta-toolbar="[
                                    ['h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                                    ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],
                                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent']]"
                                    ta-disabled="! gallery.isEditable"></div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 m-t-1">
                                <button class="btn btn-success" ng-click="save()" ng-disabled="! gallery.isEditable"><i class="fa fa-floppy-o"></i> Speichern</button>
                            </div>
                        </div>
                    </form>
                    
                    <div class="alert alert-{{message.type}} m-t-1" role="alert" ng-show="message">
                        <h3>{{message.headline}}</h3>
                        <p>{{message.text}}</p>
                        <p>{{message.errorMessage}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-controller="galleryCategoryCtrl" ng-show="galleryId != 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-block">
                        <h3>Kategorien</h3>
                        
                        <tags-input ng-model="categories" on-tag-removing="delete($tag)" on-tag-added="add($tag)" add-on-blur="false" ng-disabled="! gallery.isEditable">
                            <auto-complete source="loadAutoCompleteCategories($query)"></auto-complete>
                        </tags-input>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Bilder">
        <div ng-controller="galleryPictureCtrl" ng-show="galleryId != 0">
            <div class="row" ng-if="gallery.isEditable">
                <div class="col-md-12">
                    <div class="card card-block">
                        <h3>Neue Bilder hocladen</h3>
                        <form novalidate>
                            <div class="form-group">
                                <input type="file" ngf-select ngf-multiple="true" required accept="image/*" ng-model="newPictures" ngf-change="upload()" ngf-keep="'distinct'" ngf-fix-orientation="false">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-block">
                        <h3>Vorhandene Bilder</h3>
                        
                        <div class="row" ng-repeat="p in rowCount(3) track by $index">
                            <div class="col-md-4" ng-repeat="picture in pictures | limitTo:3:$index*3">
                                <div class="card com-icedreaper-gallery-picture-wrapper">
                                    <img ng-src="{{picture.thumbnailFilename}}" class="card-img-top">
                                    
                                    <div class="com-icedreaper-gallery-picture-details p-t-1 p-r-1 p-l-1">
                                        <form novalidate>
                                            <div class="form-group row">
                                                <label for="caption" class="col-sm-5 col-md-3 form-control-label">Bezeichnung</label>
                                                <div class="col-sm-7 col-md-9">
                                                    <input type="text" class="form-control" ng-model="picture.caption" name="caption" id="caption" ng-disabled="! gallery.isEditable">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="title" class="col-sm-5 col-md-3 form-control-label">Titel</label>
                                                <div class="col-sm-7 col-md-9">
                                                    <input type="text" class="form-control" ng-model="picture.title" name="title" id="title" ng-disabled="! gallery.isEditable">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="alt" class="col-sm-5 col-md-3 form-control-label">Alt. Text</label>
                                                <div class="col-sm-7 col-md-9">
                                                    <input type="text" class="form-control" ng-model="picture.alt" name="alt" id="alt" ng-disabled="! gallery.isEditable">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <button class="btn btn-xs btn-success pull-left m-l-1" ng-click="save(picture)" ng-disabled="! gallery.isEditable"><span class="fa fa-save"></span> Aktualisieren</button>
                                                <button class="pull-right btn btn-xs btn-danger pull-right m-r-1" ng-click="delete(picture.pictureId)" ng-disabled="! gallery.isEditable"><span class="fa fa-trash-o"></span> Löschen</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Statistiken" diabled="gallery.galleryId == 0">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-block">
                    <icedreaper-gallery-statistics gallery-id="gallery.galleryId"
                                                   chart-type="'line'"
                                                   request-type="'total'"
                                                   headline="Statistiken zu dieser Gallerie"></icedreaper-gallery-statistics>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>