<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Modul <small>{{module.moduleName}}</small></h1>
    </div>
</div>

<form novalidate>
    <div class="card card-block">
        <div class="row" ng-show="message">
            <div class="col-md-12">
                <div class="alert alert-{{message.type}} m-t-1" role="alert">
                    <h3>{{message.headline}}</h3>
                    <p>{{message.text}}</p>
                    <p>{{message.errorMessage}}</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h4>Details</h4>
                
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">Modul ID</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{module.moduleId}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">Modulname</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{module.moduleName}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">Beschreibung</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="description" placeholder="Beschreibung" ng-model="module.description">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label" for="active">Aktiv</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="module.active"
                            ng-options="o.v as o.n for o in [{ n: 'Inaktiv', v: false }, { n: 'Aktiv', v: true }]">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">Verfügbar auf der Webseite</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{module.availableWWW ? 'Ja' : 'Nein'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 form-control-label">Verfügbar im Adminbereich</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{module.availableADMIN ? 'Ja' : 'Nein'}}</p>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
            </div>
            <div class="col-md-6" ng-if="module.availableWWW">
                <h4>Untermodule</h4>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Untermodul</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subModule in subModules">
                            <td>{{subModule}}</td>
                            <td>
                                <button ng-click="removeSubModule($index)" class="btn btn-danger"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <select class="form-control" ng-model="newModule.name">
                                    <option value=""></option>
                                    <option ng-repeat="subModule in unusedSubModules" value="{{subModule}}">{{subModule}}</option>
                                </select>
                            </td>
                            <td>
                                <button ng-click="addSubModule(newSubModule)" class="btn btn-success"><i class="fa fa-plus"></i></button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    
    <div class="card card-block" ng-if="module.availableWWW">
        <div class="row">
            <div class="col-sm-12">
                <h4>Vorhandene Optionen</h4>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th>Typ</th>
                            <th>Optionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="option in options">
                            <td>{{option.dbName}}</td>
                            <td>{{option.description}}</td>
                            <td>{{option.type}}</td>
                            <td>
                                {{option.selectOptions.join(", ")}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>