<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Modul <small>{{module.moduleName}}</small></h1>
    </div>
</div>

<form novalidate>
    <div class="card card-block">
        <div class="row" ng-show="message">
            <div class="col-md-12">
                <div class="alert alert-{{message.type}} m-t" role="alert">
                    <h3>{{message.headline}}</h3>
                    <p>{{message.text}}</p>
                    <p>{{message.errorMessage}}</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h4>Details</h4>
                
                <div class="form-group">
                    <label for="moduleId">Modul ID</label>
                    <input type="text" class="form-control" id="moduleId" disabled readonly="readonly" ng-model="module.moduleId">
                </div>
                <div class="form-group">
                    <label for="moduleName">Modulname</label>
                    <input type="text" class="form-control" id="moduleName" ng-disabled="module.moduleId != 0" placeholder="Modulname" ng-model="module.moduleName">
                </div>
                <div class="form-group">
                    <label for="description">Beschreibung</label>
                    <input type="text" class="form-control" id="description" placeholder="Beschreibung" ng-model="module.description">
                </div>
                <div class="form-group">
                    <label for="active">Aktiv</label>
                    <select class="form-control" ng-model="module.active">
                        <option value="1">Aktiv</option>
                        <option value="0">Inaktiv</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="active">Verfügbar auf der Webseite</label>
                    <select class="form-control" ng-model="module.availableWWW" ng-disabled="module.moduleId != 0">
                        <option value="1">Ja</option>
                        <option value="0">Nein</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="active">Verfügbar im Adminbereich</label>
                    <select class="form-control" ng-model="module.availableADMIN" ng-disabled="module.moduleId != 0">
                        <option value="1">Ja</option>
                        <option value="0">Nein</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
            </div>
            <div class="col-md-6" ng-if="module.moduleId != 0 && module.availableWWW">
                <h4>Untermodule</h4>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Untermodul</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subModule in subModules">
                            <td>{{subModule}}</td>
                            <td>
                                <button ng-click="removeSubModule($index)" class="btn btn-danger"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <select class="form-control" ng-model="newModule.name">
                                    <option value=""></option>
                                    <option ng-repeat="subModule in unusedSubModules" value="{{subModule}}">{{subModule}}</option>
                                </select>
                            </td>
                            <td>
                                <button ng-click="addSubModule(newSubModule)" class="btn btn-success"><i class="fa fa-plus"></i></button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
                <h4>Vorhandene Optionen</h4>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th>Typ</th>
                            <th>Optionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="option in options">
                            <td>{{option.dbName}}</td>
                            <td>{{option.description}}</td>
                            <td>{{option.type}}</td>
                            <td>
                                {{option.selectOptions.join("\n")}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>