<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/0" class="btn btn-primary">Neues Theme anlegen</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Themeübersicht <small>Beta 0.3</small></h1>
    </div>
</div>

<h3>Filtern</h3>
<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="filterActiveStatus" class="col-sm-3 control-label">Aktiv</label>
                <div class="col-sm-6">
                    <select class="form-control" name="filterActiveStatus" ng-model="search.active">
                        <option value="">Alle</option>
                        <option value="1">Aktiv</option>
                        <option value="0">Inaktiv</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped m-t">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Ordnername</th>
        <th>Aktionen</th>
    </thead>
    <tbody>
        <tr ng-repeat="theme in themes | filter:search">
            <td>{{theme.themeId}}</td>
            <td>
                <a href="#/{{theme.themeId}}">{{theme.name}}</a>
            </td>
            <td>{{theme.foldername}}</td>
            <td>
                <a href="#/{{theme.themeId}}"
                   class="btn btn-primary"
                   title="Benutzerdetails">
                    <i class="fa fa-cog"></i>
                </a>
                
                <button class="btn btn-warning"
                        ng-click="activate(theme.themeId)"
                        ng-show="theme.active == 0"
                        title="Theme aktivieren">
                    <i class="fa fa-toggle-off"></i>
                </button>
                <button class="btn btn-success"
                        ng-click="deactivate(theme.themeId)"
                        ng-show="theme.active == 1 && theme.default == 0"
                        title="Theme deaktivieren">
                    <i class="fa fa-toggle-on"></i>
                </button>
                
                <button class="btn btn-danger"
                        ng-click="delete(theme.themeId)"
                        title="Theme löschen"
                        ng-show="theme.default == 0">
                    <i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>