<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="#/" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Zurück zur Übersicht</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Theme <small>{{theme.name}}</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <form novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Themename</label>
                            <input type="text" class="form-control" id="name" ng-model="theme.name">
                        </div>
                        <div class="form-group">
                            <label for="active">Aktiv</label>
                            <select class="form-control" ng-model="theme.active" id="active"
                                    ng-options="o.v as o.n for o in [{ n: 'Aktiv', v: true }, { n: 'Inaktiv', v: false }]">
                            </select>
                        </div>
                        <!-- TODO: Move to theme install | update
                        <div class="form-group" ng-show="! theme.defaultWww">
                            <label>Theme als Zip hochladen</label>
                            <input type="file" ng-model="theme.uploadFile" ngf-select required accept="application/*" />
                        </div>-->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="foldername">Ordnername</label>
                            <input type="text" class="form-control" id="foldername" ng-disabled="theme.themeId != 0" ng-model="theme.foldername">
                        </div>
                        <div class="form-group">
                            <label>Verfügbar auf der Webseite</label>
                            <p class="form-control-static">{{theme.availableWww ? 'Ja' : 'Nein'}}</p>
                        </div>
                        <div class="form-group">
                            <label>Verfügbar im Adminbereich</label>
                            <p class="form-control-static">{{theme.availableAdmin ? 'Ja' : 'Nein'}}</p>
                        </div>
                    </div>
                </div>
                
                <!-- TODO: Move to theme install | update
                <button type="submit" class="btn btn-success" ng-click="createTheme()" ng-show="! theme.default"><i class="fa fa-upload"></i> Erstellen</button>
                -->
                <button type="submit" class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Speichern</button>
            </form>
        </div>
        
        <div class="alert alert-{{message.type}} m-t-1" role="alert" ng-show="message">
            <h3>{{message.headline}}</h3>
            <p>{{message.text}}</p>
            <p>{{message.errorMessage}}</p>
        </div>
    </div>
</div>