<div class="row">
    <div class="col-mg-12">
        <h1>Servereinstellungen</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <div class="form-group row m-b-0">
                <label class="col-sm-5 form-control-label" for="moduleSelection">Modul:</label>
                <div class="col-sm-7">
                    <select class="form-control"
                            ng-model="filter.moduleName">
                        <option value="!!">Alle</option>
                        <option value="">Systemkonfigurationen</option>
                        <option ng-repeat="module in module" value="{{module.moduleName}}">{{module.moduleName}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <form class="striped">
                <div class="form-group row"
                     ng-repeat="setting in settings | orderBy: ['moduleName', 'sortOrder']"
                     ng-if="! setting.hidden && (filter.moduleName == '!!' || setting.moduleName == filter.moduleName)">
                    <label for="{{setting.key}}" class="col-sm-5 form-control-label">{{setting.description}}</label>
                    <div class="col-sm-7">
                        <input type="input"
                               class="form-control"
                               id="{{setting.key}}"
                               maxLength="100"
                               ng-model="setting.rawValue"
                               ng-if="setting.type.toLowerCase() == 'number' || setting.type.toLowerCase() == 'string' || setting.type.toLowerCase() == 'date' || setting.type.toLowerCase() == 'datetime' || setting.type.toLowerCase() == 'component'"
                               ng-disabled="setting.readonly">
                        <select class="form-control"
                                id="{{setting.key}}"
                                ng-model="setting.rawValue"
                                ng-if="setting.type.toLowerCase() == 'bit'"
                                ng-disabled="setting.readonly"
                                ng-options="o.v as o.n for o in [{ n: 'Ja', v: '1' }, { n: 'Nein', v: '0' }, { n: 'null *', v: 'null' }]">
                        </select>
                        <select class="form-control"
                                id="{{setting.key}}"
                                ng-model="setting.rawValue"
                                ng-if="setting.type.toLowerCase() == 'boolean'"
                                ng-disabled="setting.readonly"
                                ng-options="o.v as o.n for o in [{ n: 'Ja', v: 'true' }, { n: 'Nein', v: 'false' }, { n: 'null *', v: 'null' }]">
                        </select>
                        <select class="form-control"
                                id="{{setting.key}}"
                                ng-model="setting.rawValue"
                                ng-if="setting.type.toLowerCase() == 'enum' || setting.type.toLowerCase() == 'foreignkey' && setting.enumOptions != null"
                                ng-disabled="setting.readonly"
                                ng-options="rawValue as name for (rawValue, name) in setting.enumOptions">
                        </select>
                    </div>
                </div>
                
                <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Einstellungen speichern</button>
            </form>
            
            <div class="alert alert-{{message.type}} m-t-1" role="alert" ng-show="message">
                <h3>{{message.headline}}</h3>
                <p>{{message.text}}</p>
                <p>{{message.errorMessage}}</p>
            </div>
        </div>
    </div>
</div>