<div class="row m-b-2">
    <div class="col-md-10 col-sm-8">
        <a href="#/" class="btn btn-secondary"><i class="fa fa-tasks"></i> Übersicht</a>
    </div>
    <div class="col-md-2 col-sm-4">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Moduleinstellungen <small>{{moduleName}}</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <nephthys-sytem-modulesettings module-name="moduleName"></nephthys-sytem-modulesettings>
        </div>
    </div>
</div>